<div align="center">
    <table>
        <tr>
            <td style="padding-right: 25px;"><img src="assets/img/NSF-logo.png" height="100pt" /></td>
            <td style="padding-right: 25px;"><img src="assets/img/amazon-logo.png" height="40pt" /></td>
            <td style="padding-right: 5px;"><img src="assets/img/google-logo.png" height="50pt" /></td>
            <td style="padding-right: 5px;"><img src="assets/img/cohere-logo.png" height="60pt" /></td>
            <td><img src="assets/img/uva-logo.jpg" height="80pt" /></td>
        </tr>
    </table>
</div>
