<div align="center">
<table>
    <tr>
        <td><iframe width="300" height="180" src="https://www.youtube.com/embed/3hlMFRVz3XA" title="Privacy and Fairness in Decision Tasks" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>        
        <td><iframe width="300" height="180" src="https://www.youtube.com/embed/RLB_8yczw3A" title="End-to-end Constrained Optimization Learning" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>        
        <td><iframe width="300" height="180" src="https://www.youtube.com/embed/vEfF_Z0NcPo" title="Differential Privacy: Foundations and Applications" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>        
        
        <!-- <td><iframe width="300" height="180" src="https://www.youtube.com/embed/RRvG9As8q6s?start=164" title="PriSecML Talk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td> -->
        <td><iframe width="300" height="180" src="https://www.youtube.com/embed/0EgFoSzAcaM?start=69" title="FAccT 2022 Tutorial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
        <td><iframe width="300" height="180" src="https://www.youtube.com/embed/_9Ucd6ZWV84" title="CP 2021 Invited Talk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
        <td><iframe width="300" height="180" src="https://www.youtube.com/embed/zKL5TPOunhg" title="ACP Early Career Award" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
    </tr>
    <tr>
        <td style="text-align: center;"><span id="venue">Toc 4 Fairness Seminar</span> (Nov 23)</td>
        <td style="text-align: center;"><span id="venue">ACP Summer School 2023</span> (Aug 23)</td>
        <td style="text-align: center;"><span id="venue">DTU Summer School 2023</span> (Jun 23)</td>

        <!-- <td style="text-align: center;"><span id="venue">PriSecML Seminar</span> (Feb 22)</td> -->
        <td style="text-align: center;"><span id="venue">FAccT 2022 Tutorial</span> (June 22)</td>
        <td style="text-align: center;"><span id="venue">CP 2021 Invited Talk</span> (Nov 21)</td>
        <td style="text-align: center;"><span id="venue">ACP Early Career Award</span> (Dec 21)</td>
    </tr>
</table>
</div>
